{% extends "base.html" %}
{% load static %}


{% block content %}
<header class=" text-center text-white">
<div class="masthead-content" style= "background-image: url({% static "video.mp4" %}); background-size: cover;  ">
<!--           <section class="top-part">
 -->
<!--   <div class="masthead-content"  >   
 -->

<br>
<br>
<br>
<br>

<br>
<br>
<!-- <h1 class="text-left p-2">All the events,</h1>
    <h2 class="text-left masthead-subheading p-5">You could ever want...</h2>
<div class="text-left p-5"> -->
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-secondary  btn-xl rounded-pill mt-5">Sign up to Create events!</a>
      {% else %}

<!--       <h1 class="masthead-heading mb-0 display-3">Dashboard</h1>
 -->
        <a href="{% url 'create' %}" class="btn btn-secondary btn-xl rounded-pill mt-5">Create event!</a>      
        {% endif %}

<br>
<br>

<br>
<br>
<br>

<br>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

    </div>
  </div>

</header>



<h1 class="text-center" style="padding:10px; color: #e8a7fc;"> My Events: </h1>

<div class="col-12 text-center" style="padding-bottom:50px;">
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Price</th>

    </tr>
  </thead>

  {% for item in event %}
       
            <tbody>


              <tr >
                    <td class="align-middle"> <a class="text-white" href="{% url 'detail' item.id %}" >{{item.title}} </a> </td>
                    <td class="align-middle"> <a class="text-white" href="{% url 'detail' item.id %}" >{{item.date}} </a> </td>
                    <td class="align-middle"> <a class="text-white" href="{% url 'detail' item.id %}" >{{item.time}} </a> </td>
                    <td class="align-middle"> <a class="text-white" href="{% url 'detail' item.id %}" >{{item.price}} </a> </td>


              </tr>  


      </tbody>
       
  {% endfor %}


</table>
</div>

<!--..............................-->



<h1 class="text-center" style="padding:10px; color: #e8a7fc;"> Booking History: </h1>

<div class="col-12 text-center" style="padding-bottom:50px;">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Price</th>
      <th scope="col">Tickets</th>


    </tr>
  </thead>

  {% for item in history %}
      <tbody>
        <tr>
          <td class="align-middle">{{item.event.title}}</td>
          <td class="align-middle">{{item.event.date}}</td>
          <td class="align-middle">{{item.event.time}}</td>
          <td class="align-middle">{{item.event.price}}</td>
          <td class="align-middle" >{{item.tickets}}</td>

        </tr>
      </tbody>
  {% endfor %}


</table>
</div>
<!--..............................-->




<h1 class="text-center" style="padding:10px; color: #e8a7fc;"> My Bookings: </h1>

<div class="col-12 text-center" style="padding-bottom:50px;">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Price</th>
      <th scope="col">Tickets</th>

      <th scope="col"></th>


    </tr>
  </thead>

  {% for item in my_bookings %}
      <tbody>
        <tr>
          <td class="align-middle" >{{item.event.title}}</td>
          <td class="align-middle" >{{item.event.date}}</td>
          <td class="align-middle" >{{item.event.time}}</td>
          <td class="align-middle" >{{item.event.price}}</td>
          <td class="align-middle" >{{item.tickets}}</td>


          <td><a href="{% url 'cancel-booking' item.id %}" class="btn btn-secondary rounded-pill align-middle ">Cancel</a></td>

        </tr>
      </tbody>
  {% endfor %}


</table>
</div>
<!--..............................-->



{% endblock %}