{% extends "base.html" %}
{% block content %}


<br>
<br>
<br>
<br>

  <div class="jumbotron text-white " style="border-color: #9c07bd; ">

    <div class="container" >
      <h1 class="display-1 text-center">{{event.title|title}}</h1>
   <center>
<div class="row ">                         

           {% if event.image %}

                          <img src="{{ event.image.url }}" class=" rounded mx-auto d-block">

            {% endif %}

    </div> 
</center>



  <div class="container">
    <p class="lead">      
      <h5 style="color: #e8a7fc;">Description:</h5> 
      <p>{{event.description}} </p>     
      <hr>

      <h5 style="color: #e8a7fc;"> Date and Time:</h5>  <p>{{event.date}} - {{event.time}}</p>
            <hr>

      <h5 style="color: #e8a7fc;"> Location: </h5> <p>{{ event.location }}</p>
            <hr>

      <h5 style="color: #e8a7fc;"> Price: </h5> <p>{{ event.price }} KWD</p>


    </p>



  </div>


      <div class="card-body" >
        
        {% if event.owner == request.user %}
        
          <h5 style="color: #e8a7fc;"> Booked by: </h5>

            {% for booking in booking_obj %}
                    <button class="btn rounded-pill">{{booking.user}}  </button>
            {% endfor %}
      </div>

            <a href="{% url 'update' event.id %}" class="btn btn-secondary rounded-pill mt-3 btn-block">Edit Event</a>
        {% endif %}



     {% if event.get_available_tickets == 0 %}
  
          <a  class="btn btn-info  rounded-pill mt-3 btn-block">Full</a>

    {% else %}
          <a href="{% url 'book' event.id %}" class="btn btn-secondary rounded-pill mt-3 btn-block">Book</a>

     {% endif %}

</div> <!--closing the row -->


</div> <!--closing the row -->
</div> <!--closing the container -->
{% endblock %}