{% extends "base.html" %}
{% load static %}


{% block content %}
<header class=" text-center text-white">
<div class="masthead-content" style= "background-image: url({% static "video.mp4" %}); background-size: cover;   ">


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>

    </div>
  </div>

</header>

<!--#####################################################################-->


<div class="container  m-5 p-5">

		<form action="{% url 'finduser' %}">
			<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="Find users..." value="{{request.GET.q}}"
				  name= "q" aria-label="Recipient's username" aria-describedby="button-addon2">

				  <div class="input-group-append">
				    <button class="btn btn-secondary" type="submit" value="Search" id="button-addon2">Search</button>


				  </div>
			</div>
		</form>
</div> <!--closing the container -->


</div> <!--closing the row -->

<div class="row  m-5 pb-4">
  {% for item in user %}
    <div class="col-4 pb-4">
  
          <div class="card text-white pb-4 m-3" style="background-color: black;" >
          {% if item.photo %}
                  <img height="300px" width="300px" src= "{{ item.photo.url }}" class="card-img-top">
          {% endif %}
              <div class="card-body">
                    <h5 class="card-title text-center"> {{item.user.username}} </h5>
              </div>

    <a href="{% url 'profile' item.user.username %}" class="btn btn-secondary rounded-pill m-3 ">View Profile</a>


          </div> <!--end of card -->

</div>  <!--end of col -->
  {% endfor %}
</div> <!--closing the row -->
 
{% endblock %}