{% extends "base.html" %}
{% load static %}


{% block content %}
<header class=" text-center text-white">
<div class="masthead-content" style= "background-image: url({% static "video.mp4" %}); background-size: cover;   ">
<!--           <section class="top-part">
 -->
<!--   <div class="masthead-content"  >   
 -->

<br>
<br>
<br>
<br>

<br>
<br>
<!-- <h1 class="text-left p-2">All the events,</h1>
    <h2 class="text-left masthead-subheading p-5">You could ever want...</h2>
<div class="text-left p-5"> -->
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-secondary  btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}
      <div>
        <a href="{% url 'search' %}" class="btn btn-secondary btn-xl rounded-pill mt-5">Find events! </a> 
      </div>

      <div>
        <a href="{% url 'finduser' %}" class="btn btn-secondary btn-xl rounded-pill mt-5">Find users!</a>
      </div>     
        {% endif %}





<!--         </section>
 -->
<!--   <div class="container">
     -->    

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

    </div>
  </div>
<!--   <div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div> -->
</header>
<!--         <section class="top-part">
 --><!--           <img src="{% static 'video.mp4' %}">
           -->          <!-- <video controls autoplay loop>
            <source src="{% static 'video.mp4' %}" type="video/mp4">
            <source src="videos/video.ogg" type="video/ogg">
          Your browser does not support the video tag.
          </video> -->

<!-- {#         </section>
 #} -->


<div class="row m-5 pb-4">

  {% for item in event %}
    <div class="col-4">
  <div class="card-deck">
  
<div class="card rounded m-3" >
  {% if item.image %}
  <img src= "{{ item.image.url }}" class="card-img-top">
  {% endif %}
  <div class="card-body bg-dark text-white">
   <h5 class="text-center" style="font-family: "Futura";"> {{item.title|title}} </h5>
  </div>


  <div class="card-body bg-dark">

  <div class="row bg-dark">

        <div class="col-md-6"> 
            <a href="{% url 'detail' item.id %}" class="btn btn-secondary  rounded-pill mt-3   btn-block">View More</a>
        </div>

        <div class="col-md-6"> 

           {% if item.get_available_tickets == 0 %}
        
                <a  class="btn btn-info rounded-pill mt-3  btn-block text-white">Full</a>

          {% else %}
                <a href="{% url 'book' item.id %}" class="btn btn-outline-secondary rounded-pill mt-3   btn-block">Book</a>

           {% endif %}
        </div>

  </div>



  </div>

  </div>
<!--  -->
</div> <!--end of card -->
</div>  <!--end of col -->
  {% endfor %}
</div> <!--closing the row -->

{% endblock %}