
{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Find Events</h1>



    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
 -->

<header class=" text-center text-white">
<div class="masthead-content" style= "background-image: url({% static "video.mp4" %}); background-size: cover; padding-bottom: 10px;  ">
<!--           <section class="top-part">
 -->
<!--   <div class="masthead-content"  >   
 -->
<!--           <img src="{% static 'video.mp4' %}">
 -->
<!--      <h1 class="masthead-heading mb-0">All the events,</h1>
    <h2 class="masthead-subheading mb-0">You could ever want...</h2> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
      {% if request.user.is_anonymous %}
        <a href="{% url 'signup' %}" class="btn btn-secondary  btn-xl rounded-pill mt-5">Sign up to find events!</a>
      {% else %}
        <a href="{% url 'search' %}" class="btn btn-secondary btn-xl rounded-pill mt-5">Find events!</a>




<!--         </section>
 -->
<!--   <div class="container">
     -->    

      {% endif %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
  </div>
<!--   <div class="bg-circle-1 bg-circle"></div>
<div class="bg-circle-2 bg-circle"></div>
<div class="bg-circle-3 bg-circle"></div> -->
</header>






<div class="container m-5 p-5">

		<form action="{% url 'search' %}">
			<div class="input-group mb-3">
				  <input type="text" class="form-control" placeholder="Search here..." value="{{request.GET.q}}"
				  name= "q" aria-label="Recipient's username" aria-describedby="button-addon2">

				  <div class="input-group-append">
				    <button class="btn btn-secondary  " type="submit" value="Search" id="button-addon2">Search</button>


				  </div>
			</div>

		</form>


</div> <!--closing the container -->



<div class="row m-5 pb-4">

  {% for item in event %}
    <div class="col-4">
  <div class="card-deck">
  
<div class="card rounded m-3" >
  {% if item.image %}
  <img src= "{{ item.image.url }}" class="card-img-top">
  {% endif %}
  <div class="card-body bg-dark text-white">
   <h5 class="text-center" style="font-family: "Futura";"> {{item.title|title}} </h5>
  </div>


  <div class="card-body bg-dark">

  <div class="row bg-dark">

        <div class="col-md-6"> 
            <a href="{% url 'detail' item.id %}" class="btn btn-secondary  rounded-pill mt-3   btn-block">View More</a>
        </div>

        <div class="col-md-6"> 

           {% if item.get_available_tickets == 0 %}
        
                <a  class="btn btn-info rounded-pill mt-3  btn-block text-white">Full</a>

          {% else %}
                <a href="{% url 'book' item.id %}" class="btn btn-outline-secondary rounded-pill mt-3   btn-block">Book</a>

           {% endif %}
        </div>

  </div>



  </div>

  </div>

</div> <!--end of card -->
</div>  <!--end of col -->
  {% endfor %}
</div> <!--closing the row -->

{% endblock %}